p{
    color: purple;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
li{
    color: rgb(97, 13, 10);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    left: 0pc;


}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
body{
    background-color: rgb(217, 199, 240);
    background-image: url(a.jpg);
    margin: 0px;
    
}
.titulo{
    color: rgb(34, 136, 136);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 35px;
}
#ano{
    font-size: 30px;
    margin: 0px;
    font-weight: 30px;
    background-color: blanchedalmond;
    padding: 100px;
    

}